<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de notas</title>
</head>
<body>
    <h1> PLATAFORMA GESTION DE NOTAS </h1>
    <a href ="informacionPersonal.html" > Ver informacion personal</a>
    <br>
    <a href ="materiasMatriculadas.html"> Materias en curso</a>
    <br>
    <a href ="materiasAsiganadas.html"> Materias asignadas</a>
</body>
</html>